{% extends "costumer/customerlanding.html" %}
{% block content %}
{%load crispy_forms_tags %}


<div class="card" style="width: 80rem;">
  <div class="card-body">
<table class="table">
  <thead>
    <tr>

        <th scope="col">CUSTOMERRNAME</th>
      <th scope="col">WORKERNAME</th>
      <th scope="col">WORK</th>
      <th scope="col">TIME</th>
      <th scope="col">START TIME</th>
        <th scope="col">END TIME</th>

       <th scope="col">STATUS</th>

<!--      <th scope="col">BOOKING</th>-->

    </tr>
  </thead>
  <tbody>
  {%for i in appointment%}
    <tr>

       <td>{{i.user.Name}}</td>
      <td>{{i.schedule.workers}}</td>
      <td>{{i.schedule.Work}}</td>
      <td>{{i.schedule.date}}</td>
      <td>{{i.schedule.start_time}}</td>
       <td>{{i.schedule.end_time}}</td>
        <td>{{i.status}}</td>
        <td>
            {% if i.status == 0 %}
            <button class="btn btn-success">appointment pending</button>
            {% elif i.status == 1 %}
            <button class="btn btn-warning">appointment confirmed</button>
            {% else %}
            <button class="btn btn-danger">Rejected</button>
            {% endif %}
        </td>
 </tr>

   {% endfor %}

  </tbody>
</table>
      </div>
</div>

{% endblock %}