{% extends "workertemp/workerlanding.html" %}
{% block content %}
{%load crispy_forms_tags %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">WORKERS</th>
      <th scope="col">WORK</th>
      <th scope="col">TIME</th>
      <th scope="col">START TIME</th>
        <th scope="col">END TIME</th>
<!--      <th scope="col">BOOKING</th>-->

    </tr>
  </thead>
  <tbody>
  {% for i in data2 %}
    <tr>

      <td>{{i.workers}}</td>
      <td>{{i.Work}}</td>
      <td>{{i.date}}</td>
      <td>{{i.start_time}}</td>
       <td>{{i.end_time}}</td>
<!--      <td><button class="btn btn-dark"  type="submit">Booknow</button></td>-->


    </tr>

   {% endfor %}

  </tbody>
</table>

{% endblock %}